html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.header{
  background-image: url("Notify_Background_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-content{
  padding: 10% 5%;
  max-width: 30%;

}
.title{
  font-family:Copperplate Gothic Light;
  color: white;
}
.title-content p {
  color: white;
}

.display-icons{
  display:flex;
  list-style:none;
}
.display-icons li{
  background : black;
  padding: 0.7em;
  color:white;
  border-radius: 50px;
  margin: 0 10px;
}

@media only screen and (min-width: 641px) {
  .optionsItem{
    flex-direction: column;
    align-items: center;
    max-width: 50%;
  }
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.optionsItem{
  width: 100%;
  padding: 1rem 3rem;
  display:flex;
  justify-content: space-between;
  text-align: center;
  /*margin: 30px 30px;*/
}

.text h4, .text p{
  text-align: left;
}

.optionsItem div {
  text-align: center;
}

.optionsItem > div >i{
  font-size: 1.5em;
  color:white;
  background: rgb(10, 200, 10);
  border-radius: 50px;
  padding: 0.4em;
}
.optionsItem > div >h4{
  margin-top: 4px;
  margin-bottom: 3px;
}
.optionsItem >div >p{
  margin-top: 4px;
  font-size: .8em;
}



.info{
  background: #D8D6DB;
  display: flex;
  justify-content: center;
}
.updates{
  padding: 15px 9%;
}
.updates p{
  color: #767577;
}
.updates form input{
  border-radius: 5px;
}
.updates form button{
  color:white;
  background:rgb(10, 200, 10);
  border-radius: 25px;
  padding: 3px 5px;
}
.video{
  padding: 25px 9%;
  order:-1;
}
.contact{
  flex-direction: column;
  align-items: center;
  text-align:center;
}

.icons{
  display:flex;
  justify-content: center;
}
.icons li {
  color: white;
  background-color:grey;
  border-radius: 50px;
  padding: 0.4em;
  margin: 0 .5em;
}

.contact>div>p{
  color: grey;
}
